datadir="/var/lib/proxysql"

admin_variables=
{
  admin_credentials="admin:admin"
  mysql_ifaces="0.0.0.0:6032"
}

mysql_variables=
{
  threads=4
  max_connections=2048
  default_query_delay=0
  default_query_timeout=36000000
  poll_timeout=2000
}

mysql_servers =
(
  { address = "galera-node-1" , port = 3306 , hostgroup = 0 },
  { address = "galera-node-2" , port = 3306 , hostgroup = 0 },
  { address = "galera-node-3" , port = 3306 , hostgroup = 0 }
)

mysql_users =
(
  {
    username = "root"
    password = "123456"
    default_hostgroup = 0
    transaction_persistent = 1
    active = 1
  }
)
