version: '3.8'

services:
  # --- MAESTRO ---
  pg-master:
    image: postgres:15-alpine
    container_name: pg-master
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: adminpassword
      POSTGRES_DB: hospital_db
    volumes:
      - ./db/master_init.sh:/docker-entrypoint-initdb.d/init.sh
    command: |
      postgres -c wal_level=replica -c hot_standby=on -c max_wal_senders=10 -c max_replication_slots=10 -c hot_standby_feedback=on
    networks:
      - hospital-net

  # --- RÉPLICA ---
  pg-replica:
    image: postgres:15-alpine
    container_name: pg-replica
    environment:
      PGPASSWORD: adminpassword
    depends_on:
      - pg-master
    volumes:
      - ./db/replica_init.sh:/usr/local/bin/replica_init.sh
    entrypoint: ["bash", "/usr/local/bin/replica_init.sh"]
    networks:
      - hospital-net

  # --- ORQUESTADOR (HAProxy) ---
  haproxy:
    image: haproxy:2.7
    container_name: haproxy
    ports:
      - "5000:5000"
      - "5001:5001"
    volumes:
      - ./haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg:ro
    depends_on:
      - pg-master
      - pg-replica
    networks:
      - hospital-net

  # --- VIGILANTE (Robot Automático) ---
  vigilante:
    image: docker:cli
    container_name: vigilante
    volumes:
      # En Windows, esto conecta al motor de Docker Desktop
      - /var/run/docker.sock:/var/run/docker.sock
      # Montamos el script que acabamos de crear
      - ./vigilante.sh:/vigilante.sh
    # Usamos 'sh' para ejecutarlo como script de Linux
    command: ["sh", "/vigilante.sh"]
    networks:
      - hospital-net

networks:
  hospital-net:
    driver: bridge