version: "3.8"

services:
  servidor:
    build: ./nivel0
    container_name: servidor
    ports:
      - "5000:5000"
    networks:
      - red-calculo
    volumes:
      - estanque-data:/app/data
    restart: unless-stopped

  empresa:
    build: ./nivel3
    container_name: empresa
    ports:
      - "7000:7000"
    networks:
      - red-calculo
    volumes:
      - empresa-data:/app/data
    stdin_open: true
    tty: true
    restart: unless-stopped

  distribuidor:
    build: ./nivel2
    container_name: distribuidor
    depends_on:
      - empresa
    ports:
      - "6000:6000"
    networks:
      - red-calculo
    volumes:
      - distribuidor-data:/app/data
    environment:
      - EMPRESA_HOST=empresa
      - EMPRESA_PORT=7000
    stdin_open: true
    tty: true
    restart: unless-stopped

  distribuidor2:
    build: ./nivel2
    container_name: distribuidor2
    depends_on:
      - empresa
    ports:
      - "6001:6000"
    networks:
      - red-calculo
    volumes:
      - distribuidor2-data:/app/data
    environment:
      - EMPRESA_HOST=empresa
      - EMPRESA_PORT=7000
    stdin_open: true
    tty: true
    restart: unless-stopped

  cliente:
    build: ./nivel1
    container_name: surtidor1
    depends_on:
      - servidor
      - distribuidor
    networks:
      - red-calculo
    volumes:
      - surtidor-data:/app/data
    environment:
      - DISTRIBUIDOR_HOST=distribuidor
      - DISTRIBUIDOR_PORT=6000
      - ESTANQUE_HOST=servidor
      - ESTANQUE_PORT=5000
    stdin_open: true
    tty: true
    restart: unless-stopped

  surtidor2:
    build: ./nivel1
    container_name: surtidor2
    depends_on:
      - servidor
      - distribuidor2
    networks:
      - red-calculo
    volumes:
      - surtidor2-data:/app/data
    environment:
      - DISTRIBUIDOR_HOST=distribuidor2
      - DISTRIBUIDOR_PORT=6000
      - ESTANQUE_HOST=servidor
      - ESTANQUE_PORT=5000
    stdin_open: true
    tty: true
    restart: unless-stopped

networks:
  red-calculo:
    driver: bridge

volumes:
  estanque-data:
    driver: local
  surtidor-data:
    driver: local
  surtidor2-data:
    driver: local
  distribuidor-data:
    driver: local
  distribuidor2-data:
    driver: local
  empresa-data:
    driver: local